<!DOCTYPE html>
<html>
  <head>
    <title>Stupid Coaching</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag 'application', media: 'all' %>
    <%= javascript_pack_tag 'application' %>
  </head>

  <body>
  <h1>Stupid coaching</h1>
  <div class="my_question">
    <p><%= params[:question] %></p>
    <p class="text-italic"><%= "- You" %></p>
  </div>

  <div class="coach_answer">
    <p><%= @answer %></p>
    <p class="text-italic"><%= "- Your coach" %></p>
  </div>

  <div class="link">
    <%= link_to "Ask a new question", ask_path %>
  </div>
  </body>
</html>
